<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8"><title>Top Restaurant</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="/static/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Top Restaurant</title>
</head>
<body>
    {% include 'includes/header.html' %}

    <main>
        <h1> {{restaurant.get('name') }} </h1>
        <img src={{restaurant.get('image_url')}}>
        <h2>{{restaurant.get('display_address')}}</h2>
        <div>
            <h3> Price: {{restaurant.get('price')}}</h3>
            <h3> Rating: {{restaurant.get('rating')}}</h3>
            <h3> Review Count: {{restaurant.get('review_count')}} </h3>
        </div>

    </main>
</body>
</html>

